


header {
    padding: 20px;
    background-color: green;
    margin-bottom: 10px
}

#nav {
    padding: 20px;
    background-color: green;
}

#all {
    float: left;
    width: 60%;
    background-color: green;
    margin: 10px;
    margin-top: 20px
}

#aside {
    margin-top: 20px;
    padding: 20px;
    width: 35%;
    float: right;
    background-color: red;
}

footer{
width: 100%;
background-color: blue;
}
